#left {
    position: absolute;
    width: 14%;
    height: 95%;
    border: 1px solid blue;
}

#map {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 95%;
    border: 1px solid red;
}

#right {
    position: absolute;
    right: 5px;
    width: 14%;
    height: 95%;
    overflow-y: auto;
    border: 1px solid blue;
}


/* Định dạng popup window với CSS */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: rgb(30, 40, 50);
    color: #ffffff;
}
